

* {
    /*accounts for border or padding values when you specify an element's width and height*/
    box-sizing: border-box;
    font-family: 'Almarai', sans-serif;
}
/*1: all the navbar stuff*/
body {
    margin: 0;
    padding: 0;
    /*responsive background image stuff*/
    background-image: url("C:/Users/anson/Desktop/PROJECTS/OFMA/OFMA/gym-new stuff.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    color: white;
}

.gym-name {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: rgba(245, 222, 179, 0.3);
    color: white;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
/*code will run when screen shrinks to the specified size or less

in order to get the menu to appear and reappear when the screen size changes, we will need to use javascript*/
@media (max-width: 651px) {
     .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%; 
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
/*other stuff*/
.mapouter {
    position: relative;
    text-align: center;
    height: 350px;
    width: 350px;
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    height: 350px;
    width: 350px;
}

/* <style>.gmap_canvas {overflow:hidden;background:none!important;height:350px;width:350px;}</style> */